apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: restaurant-listing-default
  namespace: argocd
  
spec:
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  source:
    repoURL: 'https://github.com/NguyenDinhVu2003/deployment-service.git'
    path: ./aws
    targetRevision: HEAD
    directory:
      recurse: true
  project: default
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
      - Validate=true